footer {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    position: fixed; /* Le conteneur est fixé en fonction de ses coordonnées (à 0px du bas) */
    bottom: 0px; /* Bas */
    height: 40px; /* Hauteur */
    width: 100%; /* Le pied de page occupe toute la largeur */ 
    background-color:#e7e7e7; /* Couleur de fond */
    color: #555555; /* Couleur du texte */
    text-align:center; /* Texte centré */
}

footer p {
    font-size: large; /* Le texte est grossi en L */
}

footer a{
    color: inherit; /* Couleur du lien identique à celle du conteneur */
}